@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Fira Mono';
    src:url('./fonts/FiraMono-Regular.ttf') format('truetype'),
        url('./fonts/FiraMono-Medium.ttf') format('truetype'),
        url('./fonts/FiraMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.hero-wrap {
    display: flex;
    text-align: left;
    align-self: center;
    max-width: 700px;

    @media screen and (max-width: 1069px){
        max-width: 400px;
    }
    @media screen and (max-width: 1069px){
        max-width: 400px;
    }
}